/******************************************
***   import google fonts              ***
*******************************************/
@import url('https://fonts.googleapis.com/css?family=Montserrat|Merriweather|Open+Sans|Chonburi');

/******************************************
***   general style guidelines         ***
*******************************************/
body {
	padding-top: 80px; /*to offset the fixed navbar*/
	background-color: #000;
}

@media screen and (max-width: 750px){
	body {
		padding-top: 10px;
	}
}

p {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
	font-family: 'Chonburi', serif;
	color: #ff3340;
	text-shadow: 1px 1px 2px #000;
}

/******************************************
***   navbar media queries              ***
*******************************************/
@media only screen and (min-width: 768px) {
	.navbar-nav {
		width: 100%;
		text-align: center;
	}
	.navbar-nav > li {
		float: none;
		display: inline-block;
	}
	.navbar-nav > li.navbar-right {
		float: right !important;
		margin-right: 0 !important;
	}
}

@media screen and (max-width: 860px) {
	.navbar-nav>li>a {
		padding: 8px;
	}
}

@media screen and (max-width: 435px){
	a#logo.navbar-brand {
		font-size: 2rem;
	}
	.navbar-brand {
		float: left;
		padding-left: 0;
	}
}
/******************************************
***   navbar styling                   ***
*******************************************/
.navbar-toggle {
	z-index: 999;
}

.navbar-right .navbar-left {
	padding: 0 1%;
}

.navbar-fixed-top {
	color: white;
	background-color: #000;
	margin: 0 auto;
	padding: 1%;
}

.navbar-nav > li > a {
	color: white;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 2rem;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	border: 1px solid transparent;
}

.navbar-nav li > a:hover {
	border: 1px solid #ff3340;
	border-radius: 0px;
}


#logo {
	color: white;
	background-color: black;
	font-family: 'Chonburi', serif;
	font-size: 3rem;
	position: absolute;
	width: 100%;
	left: 0;
	text-align: center;
	margin: 0 auto;
}

#logo:hover {
	color: #ff3340;
}
.row:target {

}
/**********************************************************
***           homepage layout and style
               note to self: clunky on desktop
               hide all boxes except welcome then
               show on mobile!?                        ***
 **********************************************************/
.homepage-box-text {
	background: rgba(0, 0, 0, 0.5);
	align-self: center;
	flex: 1 0 0;
	padding: 2%;
}

.homepage-box-text > h3 > a {
	color: #ff3340;
	text-decoration: none;
}

#welcome-section {
	background-color: white;
}

.welcome-box {
	background: url("../images/desk-scene-bw.jpg") no-repeat center center;
	min-height: 600px;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	margin: 10px;
	display: flex;
}

.portfolio-box {
	background: url("../images/work-time-bw-fade.jpg") no-repeat center center;
	background-color: #fff;
	min-height: 300px;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	margin: 10px;
	display: flex;
}

.contact-box {
	background: url("../images/balloon-jeep-bw.jpg") no-repeat center center;
	background-color: #fff;
	min-height: 280px;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	margin: 10px;
	display: flex;
}

.about-box {
	background: url("../images/coffee-arms.jpg") no-repeat center center;
	background-color: #fff;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	min-height: 130px;
	margin: 10px 10px 10px 10px;
	display: flex;
}

.skills-box {
	background: url("../images/typing.gif") no-repeat center center;
	background-color: #fff;
	min-height: 130px;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	margin: 10px;
	display: flex;
}

/**********************************************************
***           homepage media queries                    ***
 **********************************************************/
@media only screen and (min-width: 992px) {
	.welcome-box {
		background-size: 100%;
		margin: 10px 10px;
		min-height: 600px;
	}
}

/*********************************************************
 ***             portfolio section                    ***
 *********************************************************/
#portfolio-section {
	background-color: black;
	padding: 50px;
}

.portfolio-img-div {
	background-color: whitesmoke;
	border-radius: 5px;
	/*width: 30%;*/
	padding-bottom: 33%;
}

#portfolio-text {
	color: white;
	text-align: justify;
	position: relative;
	vertical-align: middle;
}

#portfolio-text h2 {
	text-align: center;
	text-shadow: 1px 1px grey;
}

/*************************************************
***      about me section                     ***
**************************************************/
#about-section {
	background-color: white;
	background: url("../images/desert-background-light.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*height: 600px;*/
}

#about-text {
	color: black;
	background-color: rgba(255, 248, 233, 0.3);
	font-weight: bold;
	font-size: 2rem;
	text-align: left;
	padding: 2%;
}

#about-text > h2 {
	/*font-family: 'Chonburi', serif;*/
	font-weight: bold;
}

@media screen and (max-width: 991px){
	#about-text {
		padding: 5%;
	}
}

/************************************************************
***   contact form hide and reveal magic                 ***
*************************************************************/
.reveal {
	margin-bottom: 650px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #000;
	position: relative;
	z-index: 2;
}

#contact-section {
	padding: 60px 0;
	margin: 0 20px;
	background-color: #000;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	position: fixed;
	bottom: 0;
	left: 50px;
	right: 0;
	z-index: 1;
	max-height: 650px;
}

@media only screen and (max-width: 751px), screen and (max-height: 600px) {
	#contact-section {
		position: relative;
		left: 0px;
		padding: 0px;
		margin-bottom: 5px;
		z-index: 2;
	}
	.reveal {
		margin-bottom: 10px;
	}
}

/*textarea#message {*/
	/*-webkit-user-select: ;*/
	/*-moz-user-select:  ;*/
	/*-ms-user-select:  ;*/
	/*user-select:  ;:*/
/*}*/