@import url('https://fonts.googleapis.com/css?family=Poppins:300|Josefin+Slab|Open+Sans+Condensed:300');

@media (min-width: 768px) {
	.navbar-nav {
		width: 100%;
		text-align: center;
	}

	.navbar-nav > li {
		float: none;
		display: inline-block;
	}

	.navbar-nav > li.navbar-right {
		float: right !important;
	}

	.navbar-brand {
		font-size: 2rem;
	}
}

@media (min-width: 1100px) {
	.navbar-brand {
		font-size: 1rem;
	}
}

.navbar-right {
	color: white;
	padding: 0 2%;
}

.navbar-left {
	color: white;
	padding: 0 2%;
}

.navbar-fixed-top {
	color: white;
	background-color: black;
	margin: 0 auto;
	padding: 1%;
}

.navbar-inverse .navbar-nav > li > a {
	color: whitesmoke;
	font-family: 'Open Sans Condensed', sans-serif !important;
	font-size: 2rem;
}

li > a:hover {
	color: black;
	background-color: white;
	border: 1px solid #FF00FF;
	border-radius: 0px;
}

.navbar-brand {
	position: absolute;
	width: 100%;
	left: 0;
	text-align: center;
	margin: 0 auto;
	/*padding: 2%;*/
}

#logo {
	color: white;
	font-family: 'Josefin Slab', sans-serif;
	font-size: 3rem;
}

#logo:hover {
color: #FF00FF;
/*background-color: #ccc;*/
}

body {
	padding-top: 65px;
	background-color: #000;
}
#welcome-section {
	position: relative;
}
#welcome {
	background: url("../images/desk-scene-color.jpg") no-repeat center center;
	background-size: 100%;
	padding-bottom: 60%;
	margin: 10px 10px 10px 30px;
}

#portfolio-home-div {
	background: url("../images/typing.gif") no-repeat center center;
	padding-bottom: 30%;
	margin: 13px 10px 13px;
}

#contact {
	background-color: whitesmoke;
	padding-bottom: 28%;
	margin: 10px;
	position: relative;
}

/*the following text centering done using suggestions from http://stackoverflow.com/questions/20456694/grid-of-responsive-squares */
.table {
	display: table;
	height: 100%;
	width: 100%;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	width: 100%;
}

/*this .content class can be replaced with separate for sizes?*/
.content {
	position: absolute;
	height: 80%;
	width: 100%;
	/*padding: 5% 5%;*/
	/*text-align: center;*/
	/*vertical-align: middle;*/
}
.content p {
	color: #FF00FF;
	background: rgba(0, 0, 0, 0.5);
	padding: 0 0 10%;
	font-weight: bold;
	/*font-family: 'Open Sans Condensed', sans-serif;*/
	font-family: 'Poppins', Serif;
	font-size: 3rem;
	text-shadow: 1px 2px 2px #000;
}


/** now we are moving to the portfolio section of my site**/
#portfolio-section {
	background-color: white;
	padding: 50px;
}

.portfolio-img-div {
	background-color: whitesmoke;
	border: 2px #FF00FF;
	border-radius: 5px;
	width: 30%;
	padding-bottom: 30%;
	margin: 20px 10px;
}

#portfolio-text {
	color: black;
	font-family: 'Open Sans Condensed', sans-serif;
}

#portfolio-text h2 {
	text-align: center;
	font-family: 'Josefin Slab', serif;
}

/*the about me section*/
#about-section {
	background-color: white;
	background: url("../images/desert-background-light.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 600px;
}

#about-text {
	color: black;
	font-family: 'Open Sans Condensed', sans-serif;
	text-shadow: 1px 2px 2px rgba(255, 119, 225, 0.7);
	font-size: 2rem;
	text-align: justify;
	padding: 15px;
	overflow: hidden;
}
#about-text > h2 {
	font-family: 'Josefin Slab', sans-serif;
	font-weight: bold;
}

/*this is the contact form starting with the way I hide it */
.reveal {
	background-color: #000;
	position: relative;
	z-index: 2;
}

footer {
	padding: -20px 0;
	background-color: #000;
	color: #fff;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2em;
	position: fixed;
	bottom: 0;
	left: 50px;
	right: 0;
	z-index: 1;
}
#contact-section > h2 {
	font-family: 'Josefin Slab', serif;
	font-size: 2em;
}
#contact-section > p {
	font-family: 'Open Sans Condensed', sans-serif;
}