@import url('https://fonts.googleapis.com/css?family=Poppins:300|Rokkitt|Arbutus+Slab|Karma');

@media (min-width: 768px) {
	.navbar-nav {
		width: 100%;
		text-align: center;
	}
	.navbar-nav > li {
		float: none;
		display: inline-block;
	}
	.navbar-nav > li.navbar-right {
		float: right !important;
	}
	.navbar-brand {
		font-size: 2rem;
	}
}
.navbar-right {
	color: white;
	padding: 0 2%;
	}

.navbar-left {
	color: white;
	padding: 0 2%;
	}

.navbar-fixed-top {
	color: white;
	background-color: black;
	margin: 0px auto;

}
.navbar-nav > li {
	list-style: none;
	color: white;
	font-family: 'Karma', serif;
	font-size: 2rem;
}

.navbar-brand {
	position: absolute;
	width: 100%;
	left: 0;
	text-align: center;
	margin:0 auto;
	/*padding-bottom: 5%;*/
}

#logo {
	color: cadetblue;
	font-family: 'Poppins', sans-serif;
	font-size: 3rem;
}

#logo:hover {
	color: white;
	background-color: crimson;
}

li:hover {
	background-color: crimson;
	border: 2px solid crimson;
	border-radius: 5px;
}

body {
	padding-top: 70px;
	background-color: #000;
}

img {
	margin: 3%;
	max-width: 100%;
}

#welcome {
	background-color: #A0988C;
	width: 50%;
	padding-bottom: 50%;
	margin: 10px;
	position: relative;
}

.content {
	position: absolute;
	height:90%;
	width:90%;
	padding: 5% 5%;
	text-align: center;
	vertical-align: middle;
	color: crimson;
	font-weight: bold;
	font-family: 'Arbutus Slab', serif;
	font-size: 3rem;
	text-shadow: 1px 2px antiquewhite;
}

#contact {
	background-color: #A0988C;
	width: 20%;
	padding-bottom: 20%;
	margin: 10px;
	position: relative;
}

#about {
	background-color: #A0988C;
	width:10%;
	padding-bottom: 10%;
	margin: 10px;
	position: relative;
}

#skills {
	background-color: #A0988C;
	width:10%;
	padding-bottom: 10%;
	margin: 10px;
	position: relative;
}

#portfolio {
	background-color: #A0988C;
	width: 30%;
	padding-bottom: 30%;
	margin: 10px;
	position: relative;
}
/*the following centering done using suggestions from http://stackoverflow.com/questions/20456694/grid-of-responsive-squares */
.table{
	display:table;
	height:100%;
	width:100%;
}
.table-cell {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	width: 100%;
}