// Color Names
$fonts: #000;
$accent:  #9C27B0;
$accent-light: rgba(156, 39, 176, 0.75);
$background: #fff;
$border: #000;
$shadow: #000;

//fonts
$marker: "Permanent Marker", cursive;
$serif: 'Merriweather', serif;
$sans-serif: 'Open Sans', sans-serif;
