@import "variables";

/******************************************
***   import google fonts              ***
*******************************************/
@import  url('https://fonts.googleapis.com/css?family=Permanent+Marker|Montserrat|Merriweather|Open+Sans|Chonburi');

/******************************************
***   general style guidelines         ***
*******************************************/

body {
  color: $fonts;
  background-color: $background;
  font-size: 16px;
  font-family: $sans-serif;
}


a {
  color: $accent;
  &:hover {
    color: $accent-light;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $serif;
  font-weight: bold;
  color: $accent;
  font-size: 1.5em;
}

h6 {
  font-size: 1em;
}
.play {
  font-family: $marker;
}

@import "partials/navigation";
@import "partials/welcome";
@import "partials/about";
@import "partials/portfolio";

/************************************************************
***   contact form hide and reveal magic                 ***
*************************************************************/

.reveal {
  margin-bottom: 650px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: $background;
  position: relative;
  z-index: 2;
}

#contact-section {
  padding: 40px 0;
  margin: 0 20px;
  background-color: $background;
  // color: $fonts;
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  bottom: 0;
  left: 50px;
  right: 0;
  z-index: 1;
  max-height: 650px;
}

@media only screen and (max-width: 751px), screen and (max-height: 600px) {
  #contact-section {
    position: relative;
    left: 0px;
    padding: 0px;
    margin-bottom: 5px;
    z-index: 2;
  }
  .reveal {
    margin-bottom: 10px;
  }
}
